.center{
    text-align: center;
    background-color:black;
   
    color: white;
    
    
    
}
.details{
    text-align: center;
    background-color: black;
    
    color: white;
    
}
.enter1{
    text-align: center;
    
    background-color: black;
}