table { 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 

table tr td button{ 
    width: 100%; 
    padding: 20px 40px; 
    background-color: blue; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
}


table tr td input { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
    background-color: chartreuse;
}


  

  