*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#bookmyshowimg{
    height: 40px;
    margin-left: 60px;
}
#myinput{
    width: 350px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}
#search{
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
.container{
    display: flex;
    margin: 15px;
}
#mybutton{
    background: red;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
#menu{
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
#dropdown{
    margin-left: 950px; 
    height: 25px;
    margin-top: 10px;
}
.list_container,ul,li{
    display: flex;
    margin: 10px;
    margin-left: 10px;
    
}