*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#bookmyshowimg{
    height: 40px;
    margin-left: 60px;
}
#myinput{
    width: 350px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}
#search{
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
.container{
    display: flex;
    margin: 15px;
}
#mybutton{
    background: red;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
#addbutton{
    background: red;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}

#menu{
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
#dropdown{
    margin-left: 550px; 
    height: 25px;
    margin-top: 10px;
}
.list_container,ul,li{
    display: flex;
    margin: 10px;
    margin-left: 10px;
    
}
.add_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.heading{
    margin-top: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5) ;
}
.add_container input{
    width: 200px;
    display: block;
    margin-top: 5px;
}
.add_container button{
    margin-top: 10px;
    margin-left: 20px;
}
#bodyy{
    background-color: red;
}
.list_right,ul{
    margin-left: 300px;
}
