{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 90%;
    height: 60px;
    margin: 10px 10px 0px 10px;
    background-color: #0f1111;
    border: 5px solid #0ff140;
    font-size: 25px;
}
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    
}
li{
    display: inline;
    
}
 button{
    background-color: orange;
    
}
input{
    margin-right: 1px;
}
.id1{
    display: inline;
    color: yellow;
    margin-right: 72px;
    text-decoration: none;
}
.id2{
    color: white;
    margin: 0px 70px 0px 72px;
    text-decoration: none;
}
