*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.todolist{
    background-color: aquamarine;
    height: 100vh;
}

.head{
    text-align: center;
   padding: 20px;
    
}
.class {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.class button{
    background-color: yellow;
}
table{
   margin-left: auto;
   margin-right: auto;
   
}
table,th,tr{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}
#myinput{
  border: none;
  background-color: orange;
  padding: 10px;
 margin-left: 40%;
 margin-top: 25%;
 
  font-size: 16px;
}
#mybutton{
    margin-left: 3px;
    padding: 10px;
}
.add{
    
   background-color: aqua;
   height: 100vh;
   
}