.background {
    position: fixed;
    top: 10px;
    right: 0;
    width: 60%;
    height: 70%;
    background-image: url("/html/image/imges.jpg"); 
    background-size:contain;
    z-index: -1;
    
}

.p1{
    color: aqua;
    
}