*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.right-section img{
   height:50px;
   width: 50px;
}
.right-section label{
    margin-left: 5px;
    
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.left-section ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
   
}
.right-section{
    margin-right: 550px;
}
.right-section img,label{
    justify-content: center;
    align-items: center;
}
.left-section ul li{
    margin-left: 20px;
}
@media only screen and (max-width:1000px){
    
    .left-section{
        display: none;
    }
    .right-section img,label{
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width:700px){
    .right-section label{
        display: none;}
    }
.started{
    color: white;
    background-color: green;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.web-develop{
    height: 400px;
    width: 100%;  
}
.web1{
    padding-top: 150px;
    font-size: 3.75rem;
    margin: auto;
    justify-content:center ;
    text-align: center;
    
}
.full{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.circulam button{
    height: 50px;
    margin-left: 45%;
}
@media only screen and (max-width:900px){
    .circulam button{
        margin-top: 325px;
    }
}
@media only screen and(max-width:250px){
    .circulam button{
        margin-top: 1125px;
    }
}
@media only screen and (max-width:250px){
  .image img{
    margin-top: 5px;
  }  
}
.works{
    height: 300px;
    width: 100%; 
}
.works1{
    padding-top: 100px;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.works1 h2{
    font-size: 1.85rem;
    font-weight: 500;
}
.works1 p{
    font-size: 1.125rem;
    margin-top: 10px;
}
.connection{
    display: flex;
   margin-top: 90px;
  margin-left: 100px;
}

.connection1{
    margin-left: 150px;
   
    margin-top: 20px;
    text-align: center;
    
}
.connection2 {
    margin-left: 100px;
    
     text-align: center;
}
.connection3{
    margin-left: 100px;
    
    text-align: center;
}
@media only screen and (max-width:650px){
    .connection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.headings{
    font-weight: 500;
    font-size: 1.875rem;
   text-align: center;
   padding-bottom: 3rem;
   color: rgb(31 41 55);
   line-height: 2.25rem;
   padding-top: 150px;
   background-color: whitesmoke;
}
.itemss{
    background-color: whitesmoke;
    width: 100%;
}
.zoro{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}
.zoro img {
    padding-top: 20px;
}
.zoro h3{
    margin-top: 50px;
    text-align: center;
}
.luffy{
    margin-left: 50px;
    
    width: 10%;
    background-color: white;
}

.luffy2 img{
    width: 80%;
    padding-left: 10px;
}

.advanced{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.advanced img{
    padding-top: 20px;
}
.advanced h3{
    margin-top: 50px;
    text-align: center;
}
.intermediatee{
    margin-left: 50px;
    height: 20%;
    width: 10%;
    background-color: white;
}



.associate{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.associate{
    margin-top: 50px;
    text-align: center;
}
.hired{
    padding-top: 10px;
    margin-left: 50px;
    
    width: 10%;
    background-color: white;
}

@media only screen and (max-width:650px){
    .advanced{
        flex-direction: column;
    }
    .associate{
        flex-direction: column;
    }
    .zoro{
        flex-direction: column;
    }
}