*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.figure {
   position: relative;
   margin-top: 20px;
}
.figure h3{
    margin-top: 30px;
    position: absolute;
    bottom: 70%;
    left: 15%;
    font-size: 1.15em;
}
.figure h6{
    position: absolute;
    bottom: 50%;
    left: 10%;
    font-size: 1em;
    color: white;
}
.figure p{
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: white;
    font-size: 12px;
}