*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    justify-content: space-between;
    
}
.container{
    width: 100%;
    height: 80px;
   /* margin: 10px 10px 10 10px;
    border: 3px solid red;*/
    background-color: rgba(0,0, 0, 1);
}
.navigator{
    width: 100%;
    height: 70px;
    background-color: white;
}
img.one{
    margin-top: 5px;
    margin-left: 5px;
    height: 60px;
    width: 90px;
   
    
}
img.two{
    margin-top: 15px;
    height: 40px;
    width: 50px;
}
img.three{
    margin-left: 40px;
    height: 60px;
    
}
img.four{
    width: 100%;
    height: 100%;
}
ul{
    list-style-type: none;
    color: white;
    
}
li{
     display: inline; 
       
}
select{
    margin-right: 50%;
}
.id1{
    margin-left: 60px;
}
.id3{
    color: white;
    text-decoration: none;
    
}
.div2{
    justify-content: center;
   align-content: center;
   text-decoration: none;
    margin-right: 80px;
    margin-top: 2px;
}
.sections{
    display: flex;
    justify-content:space-around
    
}
.pics{
    align-content: space-evenly;
}